<ion-header>
  <ion-navbar color="light">
    <ion-title>
      Event Detail
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-item-divider color="light">
    Flight information
  </ion-item-divider>

  <ion-item>
    <ion-label>Flight number: {{event.Flightnr}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Date: {{event.Date}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Route: {{event.Departure}} - {{event.Destination}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Departure Time: {{event.TimeDepart}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Arrival Time: {{event.TimeArrive}}</ion-label>
  </ion-item>

  <ion-item-divider color="light">
    Flight Crew information
  </ion-item-divider>

  <ion-item>
    <ion-label>Captain: {{event.Captain}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>First Officer: {{event.FirstOfficer}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>First Attendant: {{event.FlightAttendant}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Duty Code: {{event.DutyCode}}</ion-label>
  </ion-item>

  <ion-item-divider color="light">
    Aircraft information
  </ion-item-divider>

  <ion-item>
    <ion-label>Aircraft Type: {{event.AircraftType}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tail: {{event.Tail}}</ion-label>
  </ion-item>


</ion-content>
