<ion-row>
  <ion-col col-2>
    <fa-icon [icon]="faPaste" size="2x"></fa-icon>
  </ion-col>
  <ion-col col-10>
    <ion-row>
      <ion-col text-left><strong>{{event.DutyCode}}</strong></ion-col>
      <ion-col text-right class="grey-text">Match Crew</ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left class="grey-text">{{event.DutyID}} ({{event.Departure}})</ion-col>
      <ion-col text-right class="red-text">{{event.TimeDepart}} - {{event.TimeArrive}}</ion-col>
    </ion-row>
  </ion-col>
</ion-row>
