<ion-header>
  <ion-navbar color="light">
    <ion-title>
      Events
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item-group *ngFor="let event of events; let i = index">
    <ion-item-divider color="light" *ngIf="i>0&&(event.Date != events[i-1].Date) || i==0">
      {{event.Date}}
    </ion-item-divider>

    <button ion-item *ngIf="event.DutyCode=='FLIGHT'" (click)="goToEventDetail(event)">
      <page-flight [event]="event"></page-flight>
    </button>

    <button ion-item *ngIf="event.DutyCode=='LAYOVER'" (click)="goToEventDetail(event)">
      <page-layover [event]="event"></page-layover>
    </button>

    <button ion-item *ngIf="event.DutyCode=='Standby'" (click)="goToEventDetail(event)">
      <page-standby [event]="event"></page-standby>
    </button>

  </ion-item-group>

</ion-content>
