<ion-row>
  <ion-col col-2>
    <fa-icon [icon]="faPlane" transform="rotate-315" size="2x"></fa-icon>
  </ion-col>
  <ion-col col-10>
    <ion-row>
      <ion-col text-left><strong>{{event.Departure}} - {{event.Destination}}</strong></ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-right class="red-text">{{event.TimeDepart}} - {{event.TimeArrive}}</ion-col>
    </ion-row>
  </ion-col>
</ion-row>
